#ifndef ${include_guard}
#define ${include_guard}

#define ${namespace} ${project_name}
#define ${namespace}_BEGIN namespace ${namespace} {
#define ${namespace}_END }
#define USING_${namespace} using namespace ${namespace};
#define FWD_DECL_${namespace}(type) namespace ${namespace} { struct type; }

#endif